<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <style type="text/css" href="style.css"></style>
  <link rel="stylesheet" href="style.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
</head>
<body>

  <div class="tweet_contents">
    <% @tweet.each do |tweet| %>
    <%= tweet.user.nickname %>
    <p><%= tweet.text %></p>
    <% end %>
   
  </div>
  <!--image_tagを使って画像を保存する-->
  

</body>
