<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <style type="text/css" href="style.css"></style>
  <link rel="stylesheet" href="style.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
</head>
<body>
    <h3>投稿する</h3>


<!--フォーム-->
 <%= form_tag('/tweets', method: :post) do %>
  <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="input_text" name="name" type="text" data-length="10">
            <label for="input_text">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" name="text" class="materialize-textarea" data-length="140" maxlength: "141"></textarea>
            <label for="textarea1">Textarea</label>
            <input type="submit" value="SENT">
          </div>
        </div>
      </form>
    </div>
    <% end %>

</body>
